@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eee;
}

/* Header */
header {
    background-color: #eee;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#header-img {
    max-width: 300px;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Navigation bar */
#nav-bar {
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
    flex-wrap: wrap;
}

.nav-link {
    color: black;
    text-decoration: none;
    padding: 0.5rem;
}

.nav-link:hover {
    text-decoration: underline;
}

main {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

#pricing {
    margin: 1rem 0 5rem;
}

#pricing > h2 {
    margin: 0;
}

/* Footer */
footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #DDD;
    text-align: right;
}

/* Section */
section {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

/* Feature card */
.feature-card {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.feature-card img {
    margin-right: 5rem;
    filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(1deg) brightness(100%) contrast(100%);
    max-width: 100%;
}

.feature-text {
    text-align: left;
    flex: 1;
}

.feature-text > h3 {
    font-size: 1.6rem;
}

#video {
    width: 100%;
    max-width: 600px;
    height: 350px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/* Input */
input[type="email"], input[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="email"] {
    width: 350px;
}

input[type="submit"] {
    background-color: #FFCF40;
    color: black;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 800;
}

input[type="submit"]:hover {
    background-color: #F4A900;
}

/* Products section */
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.product-card {
    border: 1px solid black;
    width: 250px;
    text-align: center;
}

.product-card h3 {
    padding: 0.6rem;
    background-color: #DDD;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

.product-card .price {
    font-size: 1.6rem;
    padding: 1rem;
}

.product-card button {
    background-color: #FFCF40;
    color: black;
    border: none;
    margin: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
}

.product-card button:hover {
    background-color: #F4A900;
}

/* Media larger screens */
@media (min-width: 768px) {
    .feature-card {
        justify-content: flex-start;
    }

    .feature-text {
        text-align: left;
    }
}

/* Media smaller screens */
@media (max-width: 767px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 0.5rem;
    }

    #header-img {
        margin: 0 1rem;
        max-width: 100%;
    }

    #nav-bar {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 1rem;
    }

    .nav-link {
        padding: 0.5rem 0;
    }

    .feature-card {
        flex-direction: column;
    }

    .feature-card img {
        margin: 0 0 1rem 0;
    }

    .feature-text {
        text-align: center;
    }

    #pricing {
        margin: 10rem 0 0 0;
    }
}
