body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://cdn.archilovers.com/projects/99388b34-02f8-4cd4-8afc-a773cc70b86f.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

header {
    margin-bottom: 35px;
}

h1 {
    font-size: 2.5em;
    margin: 1% 0 0 0;
    color: white;
}

#description {
    font-size: 1.2em;
    color: white;
    font-style: italic;
    margin: 0 auto;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    max-height: 85vh;
    overflow-y: auto;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

i {
    padding-left: 6px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    color: #333;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

textarea {
    resize: vertical;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    #description {
        font-size: 1em;
    }
}
