@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif !important;
}

body {
    font-family: Poppins, sans-serif;
}

#navbar {
    width: 100%;
    background-color: #BE3144;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    z-index: 1000;
}

#navbar a {
    text-decoration: none;
    color: #F0F0F0;
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s;
    letter-spacing: 0.1rem;
}

#navbar a:last-child {
    margin-right: 1rem;
}

#navbar a:hover {
    background-color: #5c5c5c;
}

#welcome-section {
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #F0F0F0;
    padding: 2rem;
}

#welcome-section h1 {
    font-size: 2.5rem;
    margin-bottom: 16px;
}

#welcome-section p {
    font-family: "Raleway", sans-serif;
    font-style: italic;
    color: #BE3144;
    font-size: 1.5rem;
    font-weight: 100;
}

#project-section {
    min-height: 100vh;
    text-align: center;
    padding: 6rem 1rem;
    margin: 0;
    background-color: #45567D;
    color: #F0F0F0;
}

.project-tile {
    font-size: 2rem;
    font-family: "Raleway", sans-serif;
    display: inline-block;
    position: relative;
}

.project-tile::after {
    content: '';
    display: block;
    width: 100%;
    max-width: 600px;
    height: 0.01rem;
    background-color: #F0F0F0;
    position: absolute;
    left: 0;
    bottom: -5px;
}

#project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
}

.card {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #303841;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card img {
    height: calc(100% - 1rem);
    width: 100%;
    object-fit: cover;
}

.card p {
    font-size: 1.2rem;
    padding: 0.7rem;
    color: #F0F0F0;
    text-align: center;
    transition: color 0.3s;
}

.card:hover p {
    color: #BE3144;
}

.button-show-all {
    text-align: center;
    margin: 35px 0 0 0;
}

.show-all-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #303841;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
}

.show-all-button:hover {
    background-color: #BE3144;
}

.show-all-button::after {
    content: '>';
    display: inline-block;
    margin-left: 5px;
    transition: transform 0.3s ease, margin-left 0.3s ease;
}

.show-all-button:hover::after {
    transform: translateX(5px);
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 86vh;
    padding: 0 2rem;
    background-color: #303841;
    color: white;
}

.contact-section-header > h2 {
    font-size: 2.5rem;
}

.contact-section-header > p {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: lighter;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.contact-links > a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1rem;
    transition: transform 0.3s ease-out;
}

.contact-details {
    font-size: 1.2rem;
    text-shadow: 2px 2px 1px #1f1f1f;
}

.contact-details i {
    margin-right: 1rem;
    font-size: 1.2rem;
}

.svg-image {
    max-width: 30px;
    margin-right: 5px;
}

.btn-contact-details:hover {
    transform: translateY(10px);
}

footer {
    border-top: 4px solid #BE3144;
    font-weight: 300;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #303841;
    color: white;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    margin: 1rem;
    font-size: 1rem;
}